body  {
  background-color: #E9EBF7;
  color: #333;
  font-family: Helvetica,sans-serif;
  width: auto;
  font-size: 13px;
}

header  {
  border: dashed 2px;
  text-align: center;
}

img {
    display: block;
    margin: auto;
}
